<div class="main-container">
  <div class="first-container">

    <img class="project-logo" src="/images/Logo.png" />
    <div class="form-contianer">

      <form action="/login" method="post">
        <h2 class="login-h2">Login</h2>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            name="email"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">We'll never share your email
            with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="exampleInputPassword1"
          />
        </div>
        <div class="btns-container">
          <button type="submit" class="btn btn-primary">Login</button>
          <a class="btn-login btn btn-light" href="/signup">Sign up</a>
        </div>
        {{#if errorMessage}}
          <p class="error">{{errorMessage}}</p>
        {{/if}}
      </form>
    </div>
  </div>
  <div class="second-container"></div>
</div>