<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img class="sidebar-logo" src="/images/Logo-horizontal-white.png" />
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a class="dashboard-page" href="/class">Class</a>
      </li>
      <li>
        <a href="/teacher">Teacher</a>
      </li>
      <li>
        <a href="/subject">Subject</a>
      </li>
      <li>
        <a href="/student">Student</a>
      </li>
      <li>
        <a href="/approvals">Approvals</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <ul
      class="nav justify-content-end bg-light toggle-float-left custom-nav-setting"
    >

      <span><abutton
          href="#menu-toggle"
          class="btn btn-default"
          id="menu-toggle"
        >Toggle Menu</abutton>
      </span>
    </ul>
    <ul class="nav justify-content-end bg-light custom-nav-setting">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <form action="/logout" method="post">
          <button class="btn btn-submit" type="submit" name="logout-submit">
            Logout
          </button>
        </form>
      </li>

      <li class="nav-item">
        <select class="selectpicker" data-width="fit">
          <option>EN</option>
          <option>NL</option>
        </select>
      </li>
      <li class="nav-item">
      </li>
    </ul>

    <!-- main section -->

  </div>
</div>