<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img class="sidebar-logo" src="/images/Logo-horizontal-white.png" />
      </li>
      <li>
        <a class="dashboard-page" href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/class">Class</a>
      </li>
      <li>
        <a href="/teacher">Teacher</a>
      </li>
      <li>
        <a href="/subject">Subject</a>
      </li>
      <li>
        <a href="/student">Student</a>
      </li>
      <li>
        <a href="/approvals">Approvals</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="container-nav">
      <ul
        class="nav justify-content-start toggle-float-left bg-light custom-nav-setting"
      >
        <li class="nav-item">
          <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle
            Menu</a>
        </li>
      </ul>
      <ul
        class="nav justify-content-end toggle-float-right bg-light custom-nav-setting"
      >

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <form action="/logout" method="post">
            <button class="btn btn-submit" type="submit" name="logout-submit">
              Logout
            </button>
          </form>
        </li>

        <li class="nav-item">
          <select class="selectpicker" data-width="fit">
            <option>EN</option>
            <option>NL</option>
          </select>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <!-- main section -->
    <div class="row-cards">
      <div class="card">
        <div class="circle"><img
            src="/images/female_icon-removebg-preview.png"
          /></div><h5 class="icon-text">{{data.girls}} Girls</h5>
      </div>
      <div class="card">
        <div class="circle"><img
            src="/images/male_icon-removebg-preview.png"
          /></div><h5 class="icon-text">{{data.boys}} Boys</h5>
      </div>
      <div class="card">

        <div class="circle"><img
            src="/images/teacher2-removebg-preview.png"
          /></div>
        <h5 class="icon-text">{{data.staff}} Teachers</h5>

      </div>
      <div class="card">
        <div class="circle"><img src="/images/class.png" /></div>
        <h5 class="icon-text">10 Classes</h5>
      </div>
    </div>
    <div>
      <h5 class="notification-title">Notifications</h5>
      <div class="notification-container">
        <div class="notification-card">

        </div>
        <table class="table">
          <tbody>
            <tr>
              <th class="tabe-number" scope="row">1</th>
              <td class="tabe-number">this is the first notification</td>
            </tr>
            <tr>
              <th class="tabe-number" scope="row">2</th>
              <td class="tabe-number">this is the second notification</td>
            </tr>
          </tbody>
        </table>

      </div>
      {{#if ErrorMessage}}
        <p class="error">{{ErrorMessage}}</p>
      {{/if}}
    </div>
  </div>
</div>