<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img class="sidebar-logo" src="/images/Logo-horiontal.png" />
      </li>
      <li>
        <a href="#">Dashboard</a>
      </li>
      <li>
        <a href="#">Class list</a>
      </li>
      <li>
        <a href="#">Student list</a>
      </li>
      <li>
        <a href="#">Teachers list</a>
      </li>
      <li>
        <a href="#">subject list</a>
      </li>
      <li>
        <a href="#">Add student</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <span><a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle
        Menu</a></span>
    <ul class="nav justify-content-end bg-light custom-nav-setting">

      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> Link </a>
      </li>
      <li class="nav-item">
        <select class="selectpicker" data-width="fit">
          <option>EN</option>
          <option>NL</option>
        </select>
      </li>
      <li class="nav-item">
        <!-- Example single danger button -->

      </li>
    </ul>
    <div class="row">
      <div class="col-lg-12">

        <h1>Simple Sidebar</h1>
        <p>This template has a responsive menu toggling system. The menu will
          appear collapsed on smaller screens, and will appear non-collapsed on
          larger screens. When toggled using the button below, the menu will
          appear/disappear. On small screens, the page content will be pushed
          off canvas.</p>
        <p>Make sure to keep all page content within the
          <code>#page-content-wrapper</code>.</p>

      </div>
    </div>
  </div>
</div>