<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <img class="sidebar-logo" src="/images/Logo-horizontal-white.png" />
      </li>
      <li>
        <a href="/dashboard">Dashboard</a>
      </li>
      <li>
        <a href="/class">Class</a>
      </li>
      <li>
        <a href="/teacher">Teacher</a>
      </li>
      <li>
        <a class="subject-page" href="/subject">Subject</a>
      </li>
      <li>
        <a href="/student">Student</a>
      </li>
      <li>
        <a href="/approvals">Approvals</a>
      </li>
    </ul>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-nav">
      <ul
        class="nav justify-content-end bg-light toggle-float-left custom-nav-setting"
      >

        <span><abutton
            href="#menu-toggle"
            class="btn btn-default"
            id="menu-toggle"
          >Toggle Menu</abutton>
        </span>
      </ul>
      <ul class="nav justify-content-end bg-light custom-nav-setting">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
        </li>
        <li class="nav-item">
          <form action="/logout" method="post">
            <button class="btn btn-submit" type="submit" name="logout-submit">
              Logout
            </button>
          </form>
        </li>

        <li class="nav-item">
          <select class="selectpicker" data-width="fit">
            <option>EN</option>
            <option>NL</option>
          </select>
        </li>
        <li class="nav-item">
        </li>
      </ul>
    </div>
    <!-- main section -->
    <div class="row-cards">

      <div class="card" style="width: 25rem;">
        <div class="card-image">
          <img
            src="/images/quran picture.png"
            class="card-img-top"
            alt="picture of the quran"
          /></div>
        <div class="card-body">
          <h5 class="card-title">Quran studies</h5>
          <p class="card-text">To sum it up, the Holy Quran acts as the basis of
            Islam, and its teachings are pivotal in understanding Islam. Based
            on the essay, it can be concluded that the major themes of the Holy
            Quran are God, prophets, man, divine scriptures, and sin. God is
            merciful, forgiving and is above all what is on earth and in heaven.</p>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <div class="card-image">
          <img
            src="/images/history.png"
            class="card-img-top"
            alt="islamic history"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">Islamic History</h5>
          <p class="card-text">Learn about the history of the Arab and Muslim
            world during its first millennium, including political, social and
            cultural aspects. You will study this course in two parts. The first
            presents the main political events that set the chronological
            framework for the course, namely 6th century to the arrival of the
            Ottomans in the Middle East in the beginning of the 16th century.
            The second part delves into social and cultural realities of the
            medieval Middle East.</p>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img
          src="/images/arabic.png"
          class="card-img-top"
          alt="Arabic language"
        />
        <div class="card-body">
          <h5 class="card-title">Arabic</h5>
          <p class="card-text">The main focus of our Arabic courses will be on
            conversation in everyday situations in relation to cultural customs
            in the Arab world. In addition, attention will be paid to grammar,
            vocabulary, and pronunciation. You will also learn to read and write
            the Arabic script.</p>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img
          src="/images/calligraphy.png"
          class="card-img-top"
          alt="arabic calligraphy"
        />
        <div class="card-body">
          <h5 class="card-title">Arabic calligraphy</h5>
          <p class="card-text">Arabic Calligraphy has reached its perfect form
            after evolving and being refined over centuries by the greatest
            masters of their times. There is an advanced and precise geometry in
            every letter and shape, reflecting the fact that Muslim artists were
            heavily focused on geometry and patterns as forms of art. Islamic
            Calligraphy is written using a traditional pen made of reed. The
            earliest style is known as the Kufic style which has sharper edges
            and corners compared to many of the other later developed styles
            such as Thuluth, Diwani, Riq’ah and others. These styles can be
            thought of as different font types, and the tip of the reed pen is
            cut differently for each of the writing styles.</p>
        </div>
      </div>
    </div>
  </div>
</div>